
PS1/ps1.pdf

*.pdf

*.dta

Replication ex/first_data_extract.dat

*.xml

Replication ex/.DS_Store

*.xlsx

*.docx

*.smcl

*.csv

*.rtf

*.doc

Replication ex/poverty_hh_code.do

Replication ex/usa_00005.dta.crdownload
